#letter {
  display: none;
  font-family: sans-serif;
}

#letter {
  background-image: url("../img/paper2.jpg");

}
#left {
  padding-left: 50px;

}

#stamp {
  float: right;
}

@handwr {
    font-family: handwr;
    src: url("../handwr.ttf");
  }
